<a href="https://colab.research.google.com/github/DiegoRinconP/Mineria_de_datos/blob/main/Avance1_PIA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AVANCE 1 - PIA
**Equipo**: 2

**Grupo**: 002 Miércoles

**Integrantes**: 
*   1850231 Cid Sanabria Dulce Ximena
*   1851895 Ortiz Cruz Jaclyn Lizeth
*   1849687 Rincón Pacheco Diego Alejandro
*   1854410 Serrano Caballero Lizeth

# **Sales of summer clothes in E-commerce Wish**

https://www.kaggle.com/jmmvutu/summer-products-and-sales-in-ecommerce-wish

## **Introducción**

Wish es una compañía de comercio electrónico en línea, fundada en 2010 por Peter Szulczewski y Danny Zhang, ambos ex-programadores de Google y Yahoo.

En 2017, la aplicación de compra móvil de "Wish" decía tener más de 100 millones de usuarios en iOS y Android. Actualmente, cuenta con más de 500 millones usuarios según la propia empresa. Similar a eBay, Amazon o AliExpress, fabricantes y negocios pequeños pueden vender bienes directamente a los consumidores a precios relativamente bajos.

Años más tarde, la tienda Wish añadió el Outlet, el cual vende excedentes de stock de marcas reconocidas, por debajo del precio en tienda y también añadió Wish Express, el cual ofrece envíos más rápidos. Esta empresa fue beneficiada por la pandemia, debido a que muchos usuarios empezaron a comprar más en linea a causa de las restricciones sanitarias.

##**Descripción de los datos**

a) ¿Qué tipo de datos son?

La base de datos incluye información de registros originados de la pagina web Wish acerca de las preferencias que tienen los usuarios a la hora de escribir summer (verano en inglés) en el campo de búsqueda de la plataforma. No solo muestra información acerca del producto, sino también acerca del vendedor y de las ventas.


b) Descripción de las columnas

El conjunto de datos cuenta con 63,790 datos divididos en 43 columnas y 1,573 filas donde podemos encontrar diferentes tipos de datos, como texto, número y url, recolectados del registro de la venta de verano de la plataforma. En las columnas, podemos observar la descripción del producto, precio Wish y precio externo, no. de ventas, rating, sellos, envio, inventario, info del vendedor, entre otras, las cuales nos van a ayudar a encontrar patrones sobre el éxito de un producto.

## **Justificación del uso de datos**

La base de datos viene ordenada de una manera muy práctica y con mucha información, lo cual nos permite tener un gran panorama para hacer un análisis con mayor facilidad. Una característica importante es que cuenta con datos de interés público de una compañia que ha crecido en los últimos años debido a la nueva modalidad de compras en línea desde cualquier dispositivo móvil. Nos gustaría saber si existe una correlación entre las variables y si los productos exitosos siguen un patrón determinado.

## **Objetivos**

Encontrar un patrón de la diferencia de precios con el desempeño de ventas.


Secundarios:

---Evaluar la relación de las ventas de un producto con el rating.

---Analizar si el precio del producto influye en el costo de envío.

## **Preguntas de interés**

* ¿Cuál es la relación entre el rating del producto y su éxito en ventas?
* ¿Qué tan sensibles son los usuarios al precio que está por debajo del externo?

## **Programación**

El primer paso es importar las librerías que se usarán en el proceso.

In [1]:
import pandas as pd
import numpy as np

Se carga la base de datos csv a archivos, para después llamarla y almacenarla en una variable.

In [2]:
bd=pd.read_csv('/content/summer-products-with-rating-and-performance_2020-08.csv') #se manda llamar la base de datos original

Después de analizar la base de datos cargada, para verificar que no hayan existido problemas al momento de llamarla.

Con la función shape se puede observar el número de filas y columnas de la base de datos.

In [3]:
bd.shape #regresa filas, columnas

(1573, 43)

Para ver como se forma la base de datos, las propiedades head y tail permiten mostrar las primeras 5 filas y las últimas 5 filas de la base de datos, respectivamente.

In [4]:
bd.head() #enseña las primeras 5 filas

                                               title  ... crawl_month
0  2020 Summer Vintage Flamingo Print  Pajamas Se...  ...     2020-08
1  SSHOUSE Summer Casual Sleeveless Soirée Party ...  ...     2020-08
2  2020 Nouvelle Arrivée Femmes Printemps et Été ...  ...     2020-08
3  Hot Summer Cool T-shirt pour les femmes Mode T...  ...     2020-08
4  Femmes Shorts d'été à lacets taille élastique ...  ...     2020-08

[5 rows x 43 columns]

In [5]:
bd.tail() #enseña las últimas 5 filas

                                                  title  ... crawl_month
1568  Nouvelle Mode Femmes Bohême Pissenlit Imprimer...  ...     2020-08
1569  10 couleurs femmes shorts d'été lacent ceintur...  ...     2020-08
1570  Nouveautés Hommes Siwmwear Beach-Shorts Hommes...  ...     2020-08
1571  Mode femmes d'été sans manches robes col en V ...  ...     2020-08
1572  Pantalon de yoga pour femmes à la mode Slim Fi...  ...     2020-08

[5 rows x 43 columns]

Para observar las columnas que conforman la base de datos, se puede hacer uso del atributo columns, el cual regresa los nombres de las columnas.

In [6]:
bd.columns #enseña las columnas que conforman la base de datos

Index(['title', 'title_orig', 'price', 'retail_price', 'currency_buyer',
       'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
       'rating_five_count', 'rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count', 'badges_count',
       'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
       'tags', 'product_color', 'product_variation_size_id',
       'product_variation_inventory', 'shipping_option_name',
       'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
       'inventory_total', 'has_urgency_banner', 'urgency_text',
       'origin_country', 'merchant_title', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'merchant_has_profile_picture',
       'merchant_profile_picture', 'product_url', 'product_picture',
       'product_id', 'theme', 'crawl_month'],
      dtype='object')

Para saber el tipo de dato de cada columna, se puede hacer uso del atributo dtypes.

In [7]:
bd.dtypes

title                            object
title_orig                       object
price                           float64
retail_price                      int64
currency_buyer                   object
units_sold                        int64
uses_ad_boosts                    int64
rating                          float64
rating_count                      int64
rating_five_count               float64
rating_four_count               float64
rating_three_count              float64
rating_two_count                float64
rating_one_count                float64
badges_count                      int64
badge_local_product               int64
badge_product_quality             int64
badge_fast_shipping               int64
tags                             object
product_color                    object
product_variation_size_id        object
product_variation_inventory       int64
shipping_option_name             object
shipping_option_price             int64
shipping_is_express               int64
countries_shipped_to              int64
inventory_total                   int64
has_urgency_banner              float64
urgency_text                     object
origin_country                   object
merchant_title                   object
merchant_name                    object
merchant_info_subtitle           object
merchant_rating_count             int64
merchant_rating                 float64
merchant_id                      object
merchant_has_profile_picture      int64
merchant_profile_picture         object
product_url                      object
product_picture                  object
product_id                       object
theme                            object
crawl_month                      object
dtype: object

Una parte importante de trabajar bases de datos es la identificación de datos nulos. Las siguientes líneas de código ejemplifican este proceso.

In [8]:
bd.isnull().sum() #devuleve la lista de columnas y la cantidad de datos nulos por columna

title                              0
title_orig                         0
price                              0
retail_price                       0
currency_buyer                     0
units_sold                         0
uses_ad_boosts                     0
rating                             0
rating_count                       0
rating_five_count                 45
rating_four_count                 45
rating_three_count                45
rating_two_count                  45
rating_one_count                  45
badges_count                       0
badge_local_product                0
badge_product_quality              0
badge_fast_shipping                0
tags                               0
product_color                     41
product_variation_size_id         14
product_variation_inventory        0
shipping_option_name               0
shipping_option_price              0
shipping_is_express                0
countries_shipped_to               0
inventory_total                    0
has_urgency_banner              1100
urgency_text                    1100
origin_country                    17
merchant_title                     0
merchant_name                      4
merchant_info_subtitle             1
merchant_rating_count              0
merchant_rating                    0
merchant_id                        0
merchant_has_profile_picture       0
merchant_profile_picture        1347
product_url                        0
product_picture                    0
product_id                         0
theme                              0
crawl_month                        0
dtype: int64

A continuación, se eliminan las columnas que contienen datos nulos, ya que no son necesarias para lo que se quiere analizar.

In [9]:
bd.drop(["rating_five_count","rating_four_count","rating_three_count","rating_two_count","rating_one_count",
         "product_color","product_variation_size_id","has_urgency_banner","urgency_text","origin_country",
         "merchant_profile_picture","merchant_name","merchant_info_subtitle"],axis=1,inplace=True)

Después, se eliminan todas aquellas columnas que no son necesarias para nuestros objetivos.

In [10]:
bd.drop(['title','title_orig','currency_buyer','uses_ad_boosts','rating_count','badges_count','badge_local_product','badge_product_quality',
       'badge_fast_shipping','tags','product_variation_inventory','shipping_option_name','shipping_is_express','countries_shipped_to',
       'inventory_total','merchant_title','merchant_rating_count','merchant_rating','merchant_id','merchant_has_profile_picture','product_url',
       'product_picture','theme','crawl_month'],axis=1,inplace=True)


En la siguiente línea de código se cambian el nombre de las columnas de la base de datos, con uso del atributo rename.

In [11]:
bd.rename(columns={'price':'Precio_wish','retail_price':'Precio_externo','units_sold':'No._de_ventas',
                   'shipping_option_price':'Precio_envio','product_id':'Id_producto'},inplace=True) #con el inplace se hace el cambio "permanente"

#https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas

In [12]:
bd.head()

   Precio_wish  Precio_externo  ...  Precio_envio               Id_producto
0        16.00              14  ...             4  5e9ae51d43d6a96e303acdb0
1         8.00              22  ...             2  58940d436a0d3d5da4e95a38
2         8.00              43  ...             3  5ea10e2c617580260d55310a
3         8.00               8  ...             2  5cedf17ad1d44c52c59e4aca
4         2.72               3  ...             1  5ebf5819ebac372b070b0e70

[5 rows x 6 columns]

Se creó una nueva columna en la cual se calcula la diferencia entre los valores de la columna Precio_wish con los de Precio_externo.

In [13]:
bd["Diferencia"]=bd.Precio_wish-bd.Precio_externo

Se ordenaron las columnas de la base de datos para una mejor visualización.

In [14]:
bd[["Id_producto","Precio_wish","Precio_externo","Diferencia","No._de_ventas","rating","Precio_envio"]]

                   Id_producto  Precio_wish  ...  rating  Precio_envio
0     5e9ae51d43d6a96e303acdb0        16.00  ...    3.76             4
1     58940d436a0d3d5da4e95a38         8.00  ...    3.45             2
2     5ea10e2c617580260d55310a         8.00  ...    3.57             3
3     5cedf17ad1d44c52c59e4aca         8.00  ...    4.03             2
4     5ebf5819ebac372b070b0e70         2.72  ...    3.10             1
...                        ...          ...  ...     ...           ...
1568  5d5fadc99febd9356cbc52ee         6.00  ...    4.08             2
1569  5eccd22b4497b86fd48f16b4         2.00  ...    3.07             1
1570  5e74be96034d613d42b52dfe         5.00  ...    3.71             2
1571  5eda07ab0e295c2097c36590        13.00  ...    2.50             3
1572  5e857321f53c3d2d8f25e7ed         7.00  ...    4.07             2

[1573 rows x 7 columns]

Se agruparon las columnas de Precio_wish y No_de_ventas en una nueva base de datos, la cuál se guardó en una archivo csv.

In [15]:
y=bd[["Precio_wish","No._de_ventas"]]
y.to_csv('Reporte_ventas.csv',index=True)

In [16]:
y.head() #analizando como queda la base de datos después del filtro

   Precio_wish  No._de_ventas
0        16.00            100
1         8.00          20000
2         8.00            100
3         8.00           5000
4         2.72            100

# **Amazon Best Seller June 2021 Products**
https://www.kaggle.com/hussainaliarif/amazon-best-seller-june-2021-products

##**Introducción**


Amazon.com Inc. fue fundada en 1994, es una empresa de venta por correo de comercio electrónico estadounidense que ofrece una amplia gama de productos, incluyendo libros, música, películas, y computadoras. Las operaciones de Amazon se dividen en tres segmentos de negocio: Norteamérica, Internacional y Amazon Web Services (AWS); donde permite a cada cliente una experiencia de compra personalizada como la "lista de deseos" la cual facilita la navegación por la gama de productos y, por tanto, ayudan a la decisión de compra.

Esta empresa fue beneficiada por la pandemia, debido a que muchos usuarios empezaron a comprar más en linea a causa de las restricciones sanitarias.

Que utilidad tiene una herramienta para procesar los datos: las empresas tienen requisitos exigentes desde el momento en que se generan los datos hasta el momento en que se entrega información procesable a los usuarios. Por lo tanto, es necesario recopilar, almacenar, procesar y analizar los datos en periodos relativamente cortos. De lo contrario, pueden existir problemas en la reducción de la productividad y competitividad.

##**Descripción de los datos**

a) ¿Qué tipo de datos son?

La base de datos incluye información de registros originados de la pagina web
sobre las preferencias que los usuarios tienen de los productos agrupados por categorías como
electrónica, videojuegos, fotografía, tarjetas de regalo y productos básicos como ropa,
zapatos y joyería; donde se muestra el top 100 de los productos por cada una de ellas en
Amazon durante el periodo de Junio 2021.

b) Descripción de las columnas

El conjunto de datos cuenta con 5,656 datos dividido en 8 columnas con 707 filas donde podemos  encontrar diferentes tipos de datos recolectados del registro de la venta mensual de la plataforma: 
* Código de producto (string)
* Link del producto (url)
* Categoría (string)
* Número de vendedores (string)
* Posición en el top 100 (string)
* Rating (numérico)
* Número de reseñas (numérico)
* Precio (string)

## **Justificación del uso de datos**

La base de datos viene ordenada de una manera muy práctica y sin datos nulos, lo cual nos permite hacer un análisis con mayor facilidad. Una característica importante es que cuenta con datos recientes de interés público de una empresa con gran crecimiento en los últimos años. Nos gustaría saber si existe una relación entre el número de vendedores y el precio o el número de vendedores y la categoría.

## **Objetivos**

Analizar si existe un mercado oligopolio por categoría.

--Observar la relación entre el precio y el número de vendedores

## **Preguntas de interés**



*   ¿Hay más productos caros o baratos?
*   ¿Destaca más un mercado oligopolio o un mercado monopolio?

## **Programación**

El primer paso es importar las librerías que se usarán en el proceso.

In [17]:
import pandas as pd
import numpy as np

Se carga la base de datos csv a archivos, para después llamarla y almacenarla en una variable.

In [18]:
bd=pd.read_csv('/content/Amazon_Best_Seller_2021_June.csv') #se manda llamar la base de datos original

Después de analizar la base de datos cargada, para verificar que no hayan existido problemas al momento de llamarla.

Con la función shape se puede observar el número de filas y columnas de la base de datos.

In [19]:
bd.shape #regresa filas, columnas

(707, 8)

Para ver como se forma la base de datos, las propiedades head y tail permiten mostrar las primeras 5 filas y las últimas 5 filas de la base de datos, respectivamente.

In [20]:
bd.head() #enseña las primeras 5 filas

         ASIN     Category  ... Reviews Count    Price
0  B079QHML21  Electronics  ...       640,721  $39.99
1  B07FZ8S74R  Electronics  ...       854,114  $34.99
2  B07XJ8C8F5  Electronics  ...       267,821  $44.99
3  B07WVFCVJN  Electronics  ...       114,267  $28.48
4  B08YT2N5SX  Electronics  ...       267,821  $49.99

[5 rows x 8 columns]

In [21]:
bd.tail() #enseña las últimas 5 filas

           ASIN      Category  ... Reviews Count    Price
702  B007DW6F34  Toys & Games  ...         8,795   $6.99
703  B01N16VX79  Toys & Games  ...           649  $16.99
704  B09197N995  Toys & Games  ...         9,121   $8.99
705  B015CCR1FW  Toys & Games  ...        18,449  $19.99
706  B07TS96J7Q  Toys & Games  ...        12,902  $24.99

[5 rows x 8 columns]

Para observar las columnas que conforman la base de datos, se puede hacer uso del atributo columns, el cual regresa los nombres de las columnas y el atributo dtypes para saber el tipo de dato por columna.

In [22]:
bd.columns #enseña las columnas que conforman la base de datos

Index(['ASIN', 'Category', 'Product Link', 'No of Sellers', 'Rank', 'Rating',
       'Reviews Count', 'Price'],
      dtype='object')

In [23]:
bd.dtypes

ASIN              object
Category          object
Product Link      object
No of Sellers     object
Rank              object
Rating           float64
Reviews Count     object
Price             object
dtype: object

Una parte importante de trabajar bases de datos es la identificación de datos nulos. Las siguientes líneas de código ejemplifican este proceso.

In [24]:
bd.isnull().any() #devuleve la lista de columnas y los valores True o False, dependiendo si hay valores nulos o no en las columnas

ASIN             False
Category         False
Product Link     False
No of Sellers    False
Rank             False
Rating           False
Reviews Count    False
Price            False
dtype: bool

A continuación se eliminan las columnas "ASIN", "Product Link", "Rank", ya que no son necesarias para lo que se quiere analizar.

In [25]:
bd.drop(["ASIN", "Product Link", "Rank"],axis=1,inplace=True)


En la siguiente línea de código se cambian el nombre de las columnas de la base de datos, con uso del atributo rename.

In [26]:
bd.rename(columns={'Category':'Categoria','No of Sellers':'Vendedores',
                   'Reviews Count':'Reseñas','Price':'Precio'},inplace=True) #con el inplace se hace el cambio "permanente"

#https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas

Vamos a cambiar la columna de categoría para que sea un diccionario y muestre solo los valores.

In [27]:
dict_cat = {'Electronics':"Electronicos",'Clothing, Shoes & Jewelry':"Ropa y joyeria",'Gift Cards':"Tarjetas de regalo",'Books':"Libros",'Video Games':"Videojuegos",'Camera & Photo':"Fotografia",'Toys & Games':"Juguetes"}
bd['Categoria'] = bd['Categoria'].map(dict_cat)

Después, se eliminó la palabra "sellers" en la columna Vendedores.

In [28]:
bd['Vendedores'] = bd['Vendedores'].str.replace(' Sellers','', regex=True)

Se eliminó el signo $ de la columna precio.

In [29]:
bd['Precio'] = bd['Precio'].str.replace('$','', regex=True)

In [30]:
bd

        Categoria Vendedores  Rating  Reseñas  Precio
0    Electronicos          1     4.7  640,721  39.99
1    Electronicos          1     4.7  854,114  34.99
2    Electronicos          1     4.7  267,821  44.99
3    Electronicos         27     4.8  114,267  28.48
4    Electronicos          1     4.7  267,821  49.99
..            ...        ...     ...      ...     ...
702      Juguetes         10     4.6    8,795   6.99
703      Juguetes          5     4.7      649  16.99
704      Juguetes          1     4.8    9,121   8.99
705      Juguetes         26     4.7   18,449  19.99
706      Juguetes          2     4.7   12,902  24.99

[707 rows x 5 columns]

Otro aspecto importante a trabajar base de datos es agrupar los datos para tener un mejor manejo.

En la siguiente línea de código, se está identificando los valores que se contienen en la columna "type", usando el atributo unique.

In [31]:
bd.Categoria.unique() #nos arroja los datos únicos que aparecen en esa columna

array(['Electronicos', 'Ropa y joyeria', 'Tarjetas de regalo', 'Libros',
       'Videojuegos', 'Fotografia', 'Juguetes'], dtype=object)

Después de identificar los valores de la columna, se pueden filtrar los datos, como se muestra en el ejemplo que se estan guardando por "Electrónicos" en una variable. Luego esa variable se puede guardar en un archivo csv para tener acceso a él.

In [32]:
z=bd[bd["Categoria"]=='Electronicos'] #definir que información queremos guardar en la variable

z.to_csv('Solo_Electro.csv',index=False)  #guardar los datos en csv

In [33]:
z.head() #analizando como queda la base de datos después del filtro

      Categoria Vendedores  Rating  Reseñas  Precio
0  Electronicos          1     4.7  640,721  39.99
1  Electronicos          1     4.7  854,114  34.99
2  Electronicos          1     4.7  267,821  44.99
3  Electronicos         27     4.8  114,267  28.48
4  Electronicos          1     4.7  267,821  49.99